# Username for SSH connections to the vast.ai instance.
VAST_USER=root

# IP address of the vast.ai instance to connect to.
VAST_IP=1.2.3.4

# Port number for SSH connections to the vast.ai instance.
VAST_PORT=12345

# API token for playing games on Lichess.
LICHESS_TOKEN=lip_ABC123XYZ